@media(max-width: 912px) {
    .menu .menu-left .links {
        display: none
    }

    .menu .menu-right {
        display: none
    }

    .menu img  {
        display: block
    }

    /*dobra-1*/
    .dobra-1 h1 {
        font-size: 32px
    }

    /*dobra-2*/
    .dobra-2 .image {
        width: 324px
    }

    .dobra-2 .background-dark .content-background-dark p {
        font-size: 32px;
    }

    .dobra-2 .background-dark .content-background-dark .users-perfil {
        display: flex;
        flex-direction: column;

    }

    .dobra-2 .background-dark .content-background-dark .section-informations {
        flex-direction: column;
    }

    .dobra-2 .background-dark .content-background-dark .section-informations .numbers-box {
        flex-direction: column;
    }

    /*dobra 3*/
    .dobra-3 { 
        flex-direction: column;
    }

    .dobra-3 .pictures-sections {
        display: flex;
        flex-direction: column;
    }
}