@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    color: #2B2730;
    overflow-x: hidden
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/**** menu ****/
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    width: 80%;
    margin-top: 32px;
}

.menu .menu-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu .menu-left .links a {
    padding-right: 24px;
}

.menu .menu-right {
    display: flex;
    align-items: center;
    gap: 20px
}

.menu img  {
    display: none
}

.menu .menu-right button {
    background-color: #2B2730;
    color: #F6F6F6;
    padding: 16px 32px;
    border-radius: 100px;
}

/*dobra-1*/
.dobra-1 {
    margin-top: 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 77px
}

.dobra-1 h1 {
    font-size: 72px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 80px;
    word-wrap: break-word;
    text-align: left;
    
}

.dobra-1 span {
    color: #FFB84C;
}

/**** dobra-2  ****/
.dobra-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 116px;
}

.dobra-2 .image {
    z-index: 1;
}

.dobra-2 .background-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2B2730;
    width: 100vw;
    margin-top: -340px;
}

.dobra-2 .background-dark .content-background-dark{
    margin-top: 420px;
}

/*só para visualizarmos*/
.dobra-2 .background-dark .content-background-dark p {
    color:#F6F6F6;
}

.dobra-2 .background-dark .content-background-dark span {
    color:#FFB84C
}

.dobra-2 .background-dark .content-background-dark .call {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    word-wrap: break-word
}

.dobra-2 .background-dark .content-background-dark .users-perfil {
    margin-top: 116px;
}

.dobra-2 .background-dark .content-background-dark .section-informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 108px;
}

.dobra-2 .background-dark .content-background-dark .section-informations .numbers-box {
    display: flex;
    padding-right: 8px;
    gap: 32px;
}

.dobra-2 .background-dark .content-background-dark .section-informations .numbers-box .box  span {
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    word-wrap: break-word
}

.dobra-2 .background-dark .content-background-dark .section-informations .numbers-box .box p {
    color: white;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 40px;
    word-wrap: break-word;
}

.dobra-2 .background-dark .content-background-dark .section-informations .Explore {
    display: flex;
    align-items: center;
    gap: 16px;
}

.dobra-2 .background-dark .content-background-dark .section-informations .Explore p {
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    word-wrap: break-word;
    width: 210px
}

.dobra-2 .background-dark .content-background-dark .section-informations .Explore img {
    width: 64px;
    height: 64px;
}

/**** dobra-3 ***/
.dobra-3 {
    display: flex;
    margin-top: 116px;
    gap: 30px
}

.dobra-3 .description {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    line-break:loose
}

.dobra-3 .description  h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    word-wrap: break-word;
    width: 70%
}

.dobra-3 .description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    margin: 24px 0px 24px 0px;
    width: 75%
}

.dobra-3 .description button {
    background-color: #2B2730;
    color: white;
    font-size: 14px;
    font-family: Inter;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 32px;
    border-radius: 32px
}

.dobra-3 .pictures-sections {
    display: grid;
    grid-template: repeat(2, 286px) / repeat(2, 280px);
    row-gap: 34px;
    column-gap: 32px;
}

.dobra-3 .pictures-sections .topic h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    margin: 16px 0px 16px 0px;
}

.dobra-3 .pictures-sections .topic p {
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

/**** dobra-4 ****/
.dobra-4 {
    width: 80%;
    margin: 116px 0px 116px 0px;
}

.dobra-4 .dark-board {
    background-color:#2B2730;
    border-radius: 32px;
    text-align: center;
    padding: 116px;
}

.dobra-4 .dark-board .content-dark-board h1 {
    color:#F6F6F6;
    font-size: 56px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 64px;
    word-wrap: break-word;
}

.dobra-4 .dark-board p {
    color:#F6F6F6;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin: 24px 0px 24px 0px
}

.dobra-4 .dark-board button {
    border-radius: 32px;
    background-color: #FFB84C;
    padding: 16px 32px;
    color: #2B2730;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word
}

/** dobra-5 **/
.dobra-5 {
    display: flex;
    justify-content: center;
    align-items:initial;
    margin-bottom: 116px
}

.dobra-5 .logos {
    padding-right: 200px;
    
}

.dobra-5 .logos img {
    margin-bottom: 40px;
}

.dobra-5 .lists {
    display: flex;
    align-items:first baseline;
    justify-content: center;
    gap: 32px
}

.dobra-5 .lists .list-topic {
    padding-right: 70px;
}

.dobra-5 .lists .list-topic h5 {
    margin-bottom: 16px
}

.dobra-5 .lists .list-topic li a {
    margin-bottom: 8px;
}